<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.manage.mapper.LoitSeleniumProjectMapper">
    <select id="getProject" resultType="org.jeecg.modules.manage.entity.LoitSeleniumProjectDictionary">
        SELECT project_name label, id value FROM selenium_project
    </select>
</mapper>